.filled {
  color: #303f9f;
}

.outlined {
  background:transparent;
}

.btn{
  background: transparent;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 4px;
  max-width: 22px;
  min-width: 22px;
  height: 23px;
  
}

.iconsStyles img{
  padding-bottom: 1px;
}

// :host::ng-deep.mat-mdc-form-field-subscript-wrapper {
//   display: none;
// }
::ng-deep.mat-pseudo-checkbox{
display: none !important;
}


::ng-deep .mat-mdc-option{
  align-items: center !important;
}

::ng-deep.mat-mdc-option .mdc-list-item__primary-text {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  width: 100% !important;
  align-items: center !important;
}

.no-error > ::ng-deep.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.iconsStyles {
  background: transparent;
  border: 1px solid rgba($color: grey, $alpha: 0.2);
  border-radius: 5px;
   border: none;
   transition: all ease-in 0.5s;
   cursor: pointer;
}



::ng-deep.mdc-list-item.mdc-list-item--selected {
  background-color: #00539B !important;
}

::ng-deep.mdc-list-item.mdc-list-item--selected> ::ng-deep.mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep.mat-mdc-option {
  min-height: 25px !important;
  margin: 2px !important;
  border-radius: 3px;
}